[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
routeros-api = {git = "https://github.com/mario7dujmovic/RouterOS-api.git"}

[dev-packages]

[requires]
python_version = "3.8"
